/* DevNote (@seanballais): Don't do CSS in the way most elements in this file has been defined. */

/* CSS Classes */
.opaque {
    opacity: 1.0 !important;
}

.hide {
    display: none !important;
}

/* Login Sub-View CSS Definitions */
header#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

header#login img#botos-logo {
    width: 30%;
}

header#login div#title-text h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 5em;
    font-weight: 700;

    margin-top: 1%;
    margin-bottom: 0%;
}

header#login div#title-text h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    font-weight: 300;

    margin-top: -5%;
}

article#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 100%;
}

article#login form#login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

article#login form#login input {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;

    border: 1px solid rgb(140, 140, 140);

    padding: 2.5%;
    margin-left: 0.75%;
    margin-right: 0.75%;
}

article#login form#login input[type=text],
article#login form#login input[type=password] {
    border-radius: 7px;
    box-shadow: 0 0 9px 3px rgb(160, 160, 160) inset;
}

article#login form#login input[type=submit] {
    /* We used RGB here because I thought there was a bug with regards to hsl(). Turns out, I was just using it incorrectly. */
    background: rgb(71, 198, 121);
    background: linear-gradient(236deg, rgba(71, 198, 121, 1) 0%, rgba(41, 161, 185, 1) 54%, rgba(36, 97, 203, 1) 100%);
    color: rgb(255, 255, 255);

    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgb(128, 128, 128);

    cursor: pointer;
}

article#login form#login input[type=submit]:hover {
    background: rgb(75, 204, 126);
    background: linear-gradient(236deg, rgba(75, 204, 126, 1) 0%, rgba(53, 171, 194, 1) 54%, rgba(39, 97, 198, 1) 100%);
}

article#login form#login input[type=submit]:active {
    background: rgb(71, 198, 121);
    background: linear-gradient(236deg, rgba(71, 198, 121, 1) 0%, rgba(41, 161, 185, 1) 54%, rgba(36, 97, 203, 1) 100%);

    box-shadow: 0 0 5px 1px rgb(128, 128, 128) inset;
}

article#login form#login input[type=submit]:disabled {
    background: rgb(59, 185, 109);
    background: linear-gradient(236deg, rgba(59, 185, 109, 1) 0%, rgba(31, 146, 170, 1) 54%, rgba(27, 86, 190, 1) 100%);

    cursor: default;
    box-shadow: none;
}

article#login div#messages,
header#voting div#messages {
    min-width: 40%;
}

article#login div#messages p,
header#voting div#messages p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 300;

    color: hsl(0%, 0%, 95%);

    text-align: center;

    margin: 3%;
    margin-bottom: 0;

    padding: 3%;

    border-radius: 5px;
}

article#login div#messages p.error,
header#voting div#messages p.error {
    background: rgb(230, 77, 77);
    background: linear-gradient(45deg, rgba(230, 77, 77, 1) 0%, rgba(198, 39, 108, 1) 100%);
}

article#login div#messages p.success,
header#voting div#messages p.success {
    background: rgb(39, 115, 186);
    background: linear-gradient(56deg, rgba(39, 115, 186, 1) 0%, rgba(96, 32, 194, 1) 47%, rgba(189, 10, 120, 1) 100%);
} 

footer#login p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9em;
    color: hsl(0, 0%, 95%);
}

footer#login p a {
    font-weight: 600;
    color: hsl(0, 0%, 95%);

    transition: color 0.15s ease-in;
}

footer#login p a:hover {
    color: hsl(0, 0%, 87%);
}

/* Voting Sub-View CSS Definitions */
header#voting h1,
header#voting p,
article#voting section {
    text-align: center;
}

header#voting h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.25em;
    font-weight: 700;
}

header#voting p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em;
    font-weight: 300;

    margin-top: -4%;
}

article#voting section h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.75em;
    font-weight: 700;

    margin-top: 0;
    margin-bottom: 0;
}

article#voting section div.candidates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-width: 100%;
}

article#voting section div.candidates div.candidate {
    font-family: 'Source Sans Pro', sans-serif;

    background: rgb(198, 198, 198);
    background: linear-gradient(70deg, rgba(198, 198, 198, 1) 0%, rgba(247, 247, 247, 1) 40%);
    color: hsl(0, 0%, 40%);

    border-radius: 15px;

    box-shadow: 0 4px 20px 1px hsl(0, 0%, 60%);

    min-width: 60%;

    padding: 8%;
    margin: 5%;

    opacity: 0.3;

    transition: 0.15s opacity linear;
}

article#voting section div.candidates div.candidate:hover {
    opacity: 1.0;
}

article#voting section div.candidates div.candidate h3 {
    font-size: 1.5em;
    font-weight: 400;

    margin-top: 3%;
}

article#voting section div.candidates div.candidate h4 {
    font-size: 1.25em;
    font-weight: 300;

    margin-top: -13%;
}

article#voting section div.candidates div.candidate img {
    border-radius: 100%;

    width: 150px;
    height: 150px;
}

article#voting section div.candidates div.candidate button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    color: rgb(255, 255, 255);

    border: 0;
    border-radius: 3px;

    cursor: pointer;

    padding: 5%;
    width: 100%;
}

article#voting section div.candidates div.candidate button.vote-btn {
    background: rgb(71, 198, 121);
    background: linear-gradient(236deg, rgba(71, 198, 121, 1) 0%, rgba(41, 161, 185, 1) 54%, rgba(36, 97, 203, 1) 100%);
    box-shadow: 0 0 5px 1px hsl(0, 0%, 50%);
}

article#voting section div.candidates div.candidate button.vote-btn:hover,
article#voting section div.candidates div.candidate button.depressed-vote-btn:hover {
    background: rgb(75, 204, 126);
    background: linear-gradient(236deg, rgba(75, 204, 126, 1) 0%, rgba(53, 171, 194, 1) 54%, rgba(39, 97, 198, 1) 100%);
}

article#voting section div.candidates div.candidate button.vote-btn:active,
article#voting section div.candidates div.candidate button.depressed-vote-btn,
article#voting section div.candidates div.candidate button.depressed-vote-btn:active {
    background: rgb(71, 198, 121);
    background: linear-gradient(236deg, rgba(71, 198, 121, 1) 0%, rgba(41, 161, 185, 1) 54%, rgba(36, 97, 203, 1) 100%);

    box-shadow: 0 0 5px 1px rgb(128, 128, 128) inset;
}

article#voting section div.candidates div.candidate button.depressed-vote-btn {
    box-shadow: none;
}

article#voting div#voting-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 100%;

    margin-top: 15%;
}

article#voting div#voting-actions form#voting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 50%;
}

article#voting div#voting-actions form#voting input[type=submit] {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;

    background: rgb(208, 54, 54);
    background: linear-gradient(56deg, rgba(208, 54, 54, 1) 0%, rgba(215, 73, 43, 1) 34%, rgba(217, 98, 21, 1) 100%);
    color: rgb(255, 255, 255);

    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px hsl(0, 0%, 50%);

    cursor: pointer;

    padding: 7%;
    width: 100%;
}

article#voting div#voting-actions form#voting input[type=submit]:hover {
    background: rgb(224, 59, 59);
    background: linear-gradient(56deg, rgba(224, 59, 59, 1) 0%, rgba(233, 81, 48, 1) 34%, rgba(228, 103, 22, 1) 100%);
}

article#voting div#voting-actions form#voting input[type=submit]:active {
    background: rgb(186, 39, 39);
    background: linear-gradient(56deg, rgba(186, 39, 39, 1) 0%, rgba(194, 61, 32, 1) 34%, rgba(189, 80, 10, 1) 100%);

    box-shadow: 0 0 5px 1px hsl(0, 0%, 27%) inset;
}

article#voting div#voting-actions form#voting input[type=submit]:disabled {
    background: rgb(195, 51, 51);
    background: linear-gradient(56deg, rgba(195, 51, 51, 1) 0%, rgba(198, 68, 40, 1) 47%, rgba(196, 89, 20, 1) 100%);

    cursor: default;
    box-shadow: none;
}

article#voting div#voting-actions p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9em;

    margin-top: 2%;

    color: hsl(0, 0%, 95%);
}

article#voting div#voting-actions p a {
    font-weight: 600;
    color: hsl(0, 0%, 95%);

    cursor: pointer;
    text-decoration: underline;

    transition: color 0.15s ease-in;
}

article#voting div#voting-actions p a:hover {
    color: hsl(0, 0%, 87%);
}

article#voting div#voting-actions p a:active {
    color: hsl(0, 0%, 80%);
}

footer#voting p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9em;

    margin-top: 2%;

    color: hsl(0, 0%, 95%);
}

/* Voted Sub-View CSS Definitions */
header#voted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

header#voted img#header-symbol {
    width: 30%;
}

header#voted div#title-text h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 5em;
    font-weight: 700;

    margin-top: 1%;
    margin-bottom: 0%;
}

header#voted div#title-text h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    font-weight: 300;

    margin-top: -3%;
}

article#voted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 100%;
}

article#voted div#messages {
    min-width: 40%;
}

article#voted div#messages p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 300;

    color: hsl(0%, 0%, 95%);

    text-align: center;

    margin: 3%;
    margin-bottom: 0;

    padding: 3%;

    border-radius: 5px;
}

article#voted div#messages p.error {
    background: rgb(230, 77, 77);
    background: linear-gradient(45deg, rgba(230, 77, 77, 1) 0%, rgba(198, 39, 108, 1) 100%);
}

article#voted div#messages p.success {
    background: rgb(39, 115, 186);
    background: linear-gradient(56deg, rgba(39, 115, 186, 1) 0%, rgba(96, 32, 194, 1) 47%, rgba(189, 10, 120, 1) 100%);
}

article#voted div#view-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article#voted div#view-actions button.logout-btn {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;

    background: rgb(208, 54, 54);
    background: linear-gradient(56deg, rgba(208, 54, 54, 1) 0%, rgba(215, 73, 43, 1) 34%, rgba(217, 98, 21, 1) 100%);
    color: rgb(255, 255, 255);

    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px hsl(0, 0%, 50%);

    cursor: pointer;

    padding: 3%;
    width: 35%;
}

article#voted div#view-actions button.logout-btn:hover {
    background: rgb(224, 59, 59);
    background: linear-gradient(56deg, rgba(224, 59, 59, 1) 0%, rgba(233, 81, 48, 1) 34%, rgba(228, 103, 22, 1) 100%);
}

article#voted div#view-actions button.logout-btn:active {
    background: rgb(186, 39, 39);
    background: linear-gradient(56deg, rgba(186, 39, 39, 1) 0%, rgba(194, 61, 32, 1) 34%, rgba(189, 80, 10, 1) 100%);

    box-shadow: 0 0 5px 1px hsl(0, 0%, 27%) inset;
}

article#voted div#view-actions button.logout-btn:disabled {
    background: rgb(195, 51, 51);
    background: linear-gradient(56deg, rgba(195, 51, 51, 1) 0%, rgba(198, 68, 40, 1) 47%, rgba(196, 89, 20, 1) 100%);

    cursor: default;
    box-shadow: none;
}

article#voted div#view-actions p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9em;

    margin-top: 2%;

    color: hsl(0, 0%, 95%);
}

article#voted div#view-actions p a {
    font-weight: 600;
    color: hsl(0, 0%, 95%);

    cursor: pointer;
    text-decoration: underline;

    transition: color 0.15s ease-in;
}

article#voted div#view-actions p a:hover {
    color: hsl(0, 0%, 87%);
}

article#voted div#view-actions p a:active {
    color: hsl(0, 0%, 80%);
}

article#meme-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 100%;

    display: none;
}

article#meme-block h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 3em;
    font-weight: 700;

    margin-top: 1%;
    margin-bottom: 0%;
}

article#meme-block h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;

    margin-top: 2%;

    color: hsl(0, 0%, 95%);
}

article#meme-block button#meme-2-exit {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;

    background: rgb(71, 198, 121);
    background: linear-gradient(236deg, rgba(71, 198, 121, 1) 0%, rgba(41, 161, 185, 1) 54%, rgba(36, 97, 203, 1) 100%);
    color: rgb(255, 255, 255);

    border: 0;
    border-radius: 7px;
    box-shadow: 0 0 5px 1px hsl(0, 0%, 50%);

    cursor: pointer;

    padding: 1.5%;
    width: 35%;
}

article#meme-block button#meme-2-exit:hover {
    background: rgb(75, 204, 126);
    background: linear-gradient(236deg, rgba(75, 204, 126, 1) 0%, rgba(53, 171, 194, 1) 54%, rgba(39, 97, 198, 1) 100%);
}

article#meme-block button#meme-2-exit:active {
    background: rgb(71, 198, 121);
    background: linear-gradient(236deg, rgba(71, 198, 121, 1) 0%, rgba(41, 161, 185, 1) 54%, rgba(36, 97, 203, 1) 100%);

    box-shadow: 0 0 5px 1px rgb(128, 128, 128) inset;
}

article#meme-block button#meme-2-exit:disabled {
    background: rgb(59, 185, 109);
    background: linear-gradient(236deg, rgba(59, 185, 109, 1) 0%, rgba(31, 146, 170, 1) 54%, rgba(27, 86, 190, 1) 100%);

    cursor: default;
    box-shadow: none;
}

article#meme-block video {
    padding: 3%;
    padding-top: 1%;
}

article#meme-block video:focus {
    outline: none;
}

footer#voted p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9em;
    color: hsl(0, 0%, 95%);
}

footer#voted p a {
    font-weight: 600;
    color: hsl(0, 0%, 95%);

    transition: color 0.15s ease-in;
}

footer#voted p a:hover {
    color: hsl(0, 0%, 87%);
}
