header h1,
header p,
article section {
    text-align: center;
}

header h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.25em;
    font-weight: 700;
}

header p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em;
    font-weight: 300;

    margin-top: -4%;
}

article,
article section {
    width: 100%;
}

article section h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.75em;
    font-weight: 700;

    margin-top: 0;
    margin-bottom: 0;
}

article section div#tab-links-bar {
    margin-bottom: 2%;
}

article section div#tab-links-bar ul#tab-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0;

    margin: 0 auto;
    margin-left: 25%;
    margin-right: 25%;
}

article section div#tab-links-bar ul#tab-links li {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    justify-content: center;
    align-items: center;

    list-style-type: none;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em;
    font-weight: 300;

    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-right-width: 0px;

    padding: 0;
    margin: 0;

    transition: 0.15s all linear;
}

article section div#tab-links-bar ul#tab-links li:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

article section div#tab-links-bar ul#tab-links li:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-right-width: 1px;
}

article section div#tab-links-bar ul#tab-links li.non-active-election-link:hover {
    background-color: rgb(255, 255, 255);
}

article section div#tab-links-bar ul#tab-links li.non-active-election-link:hover a {
    color: rgb(36, 97, 203);
}

article section div#tab-links-bar ul#tab-links li.active-election-link {
    background-color: rgb(255, 255, 255);
}

article section div#tab-links-bar ul#tab-links li.active-election-link a {
    color: rgb(36, 97, 203);
}

article section div#tab-links-bar ul#tab-links li a {
    display: block;

    color: rgb(255, 255, 255);

    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 12%;
    padding-right: 12%;

    width: 100%;

    vertical-align: middle;

    text-decoration: none;
}

article section div#tab-links-bar ul#tab-links li a:focus {
    outline: 0;
}

article section div.candidates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    max-width: 600px;

    margin: 0 auto;
}

article section div.candidates div.candidate {
    font-family: 'Source Sans Pro', sans-serif;

    background: rgb(198, 198, 198);
    background: linear-gradient(70deg, rgba(198, 198, 198, 1) 0%, rgba(247, 247, 247, 1) 40%);
    color: hsl(0, 0%, 40%);

    border-radius: 15px;

    box-shadow: 0 4px 20px 1px hsl(0, 0%, 60%);

    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;

    justify-content: center;
    align-items: center;

    padding: 5%;
    margin: 2%;

    transition: 0.15s opacity linear;
}

article section div.candidates div.candidate h3 {
    font-size: 1.5em;
    font-weight: 400;

    margin-top: 3%;
}

article section div.candidates div.candidate h4 {
    font-size: 1.25em;
    font-weight: 300;

    margin-top: -13%;
}

article section div.candidates div.candidate img {
    border-radius: 100%;

    width: 150px;
    height: 150px;
}

article section div.candidates div.invisible-candidate-block {
    display: flex;
    flex-grow: 1;

    padding: 5%;
    margin: 2%;
}

footer p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9em;

    margin-top: 2%;

    color: hsl(0, 0%, 95%);
}