a.radio-picture {
    display: inline-block;
    height: 160px;
    width: 150px;
    opacity: 1.0;
    transition: all 0.3s ease;
}

a.radio-picture:hover {
    opacity: 0.75;
    border: 7px solid #33ccff;
}

.selected-glow {
    border: 7px solid #33ccff;
}

ul {
    list-style-type: none;

    text-align: center;
}

ul > li {
    display: inline-block;

    text-align: center;

    margin-left: 1%;
    margin-right: 1%;

    width: fit-content;
}

ul > li > input {
    left: -10000px;
    position: absolute;
    top: -1000px;
}

h1.center-text {
    text-align: center;
}

h3.candidate-name {
    font-size: 1.5em;
}

div#flash-messages {
    background-color: #1ec0ff !important;
    color: #ffffff;

    margin-top: 0;
    margin-bottom: 1%;
    padding-top: 5px;
    padding-bottom: 5px;

    text-align: center;
}

div#admin-content {
    background-color: #a3daff;
}

div#admin-content div {
    background-color: #ffffff;
}

.col-center {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.candidate-positions {
    text-align: center;
}

form#login-form div input {
    margin-bottom: 0;
    display: block;
}

form#login-form div input#login-username {
    -webkit-border-top-left-radius: 7px;
    -moz-border-top-left-radius: 7px;
    -ms-border-top-left-radius: 7px;
    -o-border-top-left-radius: 7px;
    border-top-left-radius: 7px;

    -webkit-border-top-right-radius: 7px;
    -moz-border-top-right-radius: 7px;
    -ms-border-top-right-radius: 7px;
    -o-border-top-right-radius: 7px;
    border-top-right-radius: 7px;
}

form#login-form div input#login-submit {
    width: 100%;

    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -ms-border-top-left-radius: 0;
    -o-border-top-left-radius: 0;
    border-top-left-radius: 0;

    -webkit-border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    -ms-border-top-right-radius: 0;
    -o-border-top-right-radius: 0;
    border-top-right-radius: 0;

    -webkit-border-bottom-left-radius: 7px;
    -moz-border-bottom-left-radius: 7px;
    -ms-border-bottom-left-radius: 7px;
    -o-border-bottom-left-radius: 7px;
    border-bottom-left-radius: 7px;

    -webkit-border-bottom-right-radius: 7px;
    -moz-border-bottom-right-radius: 7px;
    -ms-border-bottom-right-radius: 7px;
    -o-border-bottom-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
