a.radio-picture {
    display: inline-block;
    height: 160px;
    width: 150px;
}

a.radio-picture:hover {

}

ul {
    list-style-type: none;
}

ul > li > input {
    left: -10000px;
    position: absolute;
    top: -1000px;
}