BOTOS_DEBUG=<must be True, 1, False, or 0>
BOTOS_DATABASE_HOST=<host of the database server>
BOTOS_DATABASE_PORT=<port of the database server>
BOTOS_DATABASE_NAME=<name for the database for Botos>
BOTOS_DATABASE_USERNAME=<username of the user to be used for the Botos database>
BOTOS_DATABASE_PASSWORD=<password of the user to be used for the Botos database>
BOTOS_TEST_DATABASE_NAME=<name of the test database for Botos>

# You only need to create the following variables in production environments.
BOTOS_SECRET_KEY=<secret key>
BOTOS_STATIC_ROOT='/path/to/static/root'
BOTOS_MEDIA_ROOT='/path/to/media/root'
BOTOS_ALLOWED_HOSTS=<allowed hosts>
