$Env:BOTOS_DEBUG = <must be $true, 1, $false, or 0>
$Env:BOTOS_DATABASE_HOST = <host of the database server>
$Env:BOTOS_DATABASE_PORT = <port of the database server>
$Env:BOTOS_DATABASE_NAME = <name for the database for Botos>
$Env:BOTOS_DATABASE_USERNAME = <username of the user to be used for the Botos database>
$Env:BOTOS_DATABASE_PASSWORD = <password of the user to be used for the Botos database>
$Env:BOTOS_TEST_DATABASE_NAME = <name of the test database for Botos>

# You only need to create the following variables in production environments.
$Env:BOTOS_SECRET_KEY = <secret key>
$Env:BOTOS_STATIC_ROOT = '/path/to/static/root'
$Env:BOTOS_MEDIA_ROOT = '/path/to/media/root'
$Env:BOTOS_ALLOWED_HOSTS = <allowed hosts>