{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

<header id="voting">
    <h1>Vote For Your Next Set of Officials</h1>
    <p>Click on the 'Vote' button to vote on a candidate. Click the same button to unvote.</p>
    {% if messages %}
    <div id="messages">
        {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</header>
<article id="voting">
    {% for position, candidates in candidates.items %}
    <section>
        <h2>{{ position }}</h2>
        <div class="candidates">
            {% for candidate in candidates %}
            <div class="candidate">
                <img src="{{ MEDIA_PREFIX }}{{ candidate.avatar }}" alt="Candidate: {{ candidate.user.first_name }} {{ candidate.user.last_name }}" />
                <h3>{{ candidate.user.last_name }}, {{ candidate.user.first_name }}</h3>
                <h4>{{ candidate.party.party_name }}</h4>
                <button class="vote-btn" value="{{ candidate.id }}">Vote</button>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endfor %}
    <div id="voting-actions">
        <script type="text/javascript">
            window.CSRF_TOKEN = '{{ csrf_token }}';
        </script>
        <form id="voting" action="/vote" method="post">
            {% csrf_token %}
            <input id="candidates-voted" name="candidates_voted" type="hidden" value="" />
            <input type="submit" value="Cast Votes" />
        </form>
        <p><a id="meme-1">Whaaat?</a> Not you or you don't want to vote? <a id="logout-link">Log out</a>.</p>
    </div>
</article>
