{% macro vote_graph() %}
    <script type="text/javascript" src="/assets/js/chart.min.js"></script>
    <canvas id="vote-chart" class="chart chart-bar" width="400" height="400"></canvas>
    <script type="text/javascript">
        function drawChart() {
            var voteData = $.ajax({
                url: '/get_votes',
                dataType: 'json',
            }).done(function (results) {
                var color_list = [
                    '#D64541',
                    '#F89406',
                    '#F9BF3B',
                    '#00B16A',
                    '#1E8BC3',
                    '#663399'
                ];
                var labels = [];
                var data = [];
                var bgColor = [];
                var borderColor = [];
                var colorIndex = 0;
                $.each(results, function(key, value) {
                    $.each(value, function(key, value) {
                        labels.push(value['name']);
                        data.push(value['votes']);
                        bgColor.push(color_list[colorIndex % 6]);
                        borderColor.push(color_list[colorIndex % 6]);

                        colorIndex++;
                    });
                });

                graphData = {
                    labels: labels,
                    datasets: [{
                        backgroundColor: bgColor,
                        borderColor: borderColor,
                        borderWidth: 1,
                        data: data
                    }]
                };

                var ctx = $('#vote-chart');
                var liveGraph = new Chart(ctx, {
                    type: 'bar',
                    data: graphData,
                    options: {
                        animationSteps: 20
                    }
                });

                setTimeout(function() {
                    drawChart();
                    }, 15000
                );
            })
        }

        drawChart();
    </script>
{% endmacro %}