<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Election App</title>
        {% endif %}
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="flash-messages">
                    <ul>
                    {% for message in messages %}
                        <li><strong>{{ message }}</strong></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
