<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Election App</title>
        {% endif %}
        <script type="text/javascript" src="/assets/js/jquery-3.1.0.min.js"></script>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        {% block content %}{% endblock %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </body>
</html>