{% extends template|add:'/base.html' %}

{% load static %}

{% block title %}Vote Now - Powered by Botos{% endblock %}

{% block custom_head %}
<link rel="stylesheet" href="{% static template|add:'/static/css/fonts.css' %}">
<link rel="stylesheet" href="{% static template|add:'/static/css/index.css' %}">
<script type="text/javascript" src="{% static template|add:'/static/js/index.js' %}" async></script>
{% endblock %}

{% block content %}
{% if subview == 'login' %}
    {% include template|add:'/index_subviews/login.html' %}
{% elif subview == 'voting' %}
    {% include template|add:'/index_subviews/voting.html' %}
{% endif %}
{% endblock %}
