{% extends "default/base.html" %}

{% block content %}
    <h1>This is where you vote.</h1>
    <form id="voting-form">
        {{ voting_form.hidden_tag() }}
        {% for field in voting_form if field.widget.input_type != 'hidden' %}
            <h2 class="candidate-positions">{{ field.label }}</h2>
            {{ field() }}
        {% endfor %}
    </form>
    <script type="text/javascript" src="/assets/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/assets/js/scripts.js"></script>
    {% for handler in link_handler %}
        {{ handler }}
    {% endfor %}
{% endblock %}